## Mutable & Immutable Data Types üîÑüîê

### Immutable Data Types üö´‚úèÔ∏è
**Definition:** Data types that **cannot** be changed after declaration.

```python
my_num = 896542587
print(my_num)
print(id(my_num))
my_num = 896543587
print(my_num)
print(id(my_num))
```

üîπ **Immutable types:** `int, float, str, tuple, frozenset`

In [ ]:
Name = "Mahesh"
print(Name)
print(id(Name))
Name = "Mahesh kumar"
print(Name)
print(id(Name))

### Mutable Data Types ‚úèÔ∏è
**Definition:** Data types that **can** be changed after declaration.

```python
my_list = [1,2,3,4,5,9]
print(my_list)
print(id(my_list))
my_list.append(10)
print(my_list)
print(id(my_list))
```

üîπ **Mutable types:** `list, dict, set, bytearray`

In [1]:
grocery_items = ['Rice','millets','oil','sugar','dal']
print(grocery_items)
print(id(grocery_items))
grocery_items.append('atta')
print(grocery_items)
print(id(grocery_items))

['Rice', 'millets', 'oil', 'sugar', 'dal']
3067975700288
['Rice', 'millets', 'oil', 'sugar', 'dal', 'atta']
3067975700288

In [2]:
Name = "Mahesh"
print(Name)
print(id(Name))
Name = "Mahesh " + "Kumar"
print(Name)
print(id(Name))

Mahesh
3067975537200
Mahesh Kumar
3067975913968

### **id()** Function üîç
Used to fetch the memory address of an object.

In [ ]:
a = 10

print(a)
print(type(a))
print(id(a))

## Input & Output Operations üé§üì¢

### **input()** Function ‚å®Ô∏è
Used to take user input.

```python
data = input("Enter the data: ")
print(data)
print(type(data))

‚úÖ **Example:** Taking two numbers from the user and adding them.

num1 = int(input("Enter the number 1: "))
num2 = int(input("Enter the number 2: "))
print(num1 + num2)
```

In [8]:
data = input("Enter the numerical data: ")
print(data)
print(type(data))

10
<class 'str'>

‚úÖ **Example:** Taking two numbers from the user and adding them.

In [6]:
num1 = int(input("Enter the number 1: "))
num2 = int(input("Enter the number 2: "))
print(num1 + num2)

30

### **print()** Function üñ®Ô∏è
**General Syntax:**
```python
print(data, sep=" ", end="\n")
```

üìù **Defaults:**
- `sep = " " (space as separator)`
- `end = "\n" (new line after printing)`
---
#### üîπ Printing Examples:

In [9]:
#‚úÖ **Empty Print:**
print()

#‚úÖ **Single Data:**

print('data1')

#‚úÖ **Multiple Data:**

print('data1', 'data2')

data1
data1 data2

In [ ]:
day = 10
month = 5
year = 1996

print(day,month,year, sep="/", end="\n")
print('Data3')
print('Data4')

10/5/1996
Data3Data4

‚úÖ **Formatted Output:**

In [19]:
print("I am a Python programmer")
name = "Mahesh"
course = "Python"
college = "Besant"
print("name", name, "course", course, "college", college)
print("name {} course {} college {}".format(name, course, college))
print(f"name {name} course {course} college {college}")

I am a Python programmer
name Mahesh course Python college Besant
name Mahesh course Python college Besant
name Mahesh course Python college Besant

### **eval()** Function üéØ 
Used to convert input data into its original data type.

In [ ]:
name = input("Enter the name:")
subject = input("Enter the subject name: ")
marks = eval(input("Enter the marks: "))
percentage = eval(input("Enter the percentage: "))
print(name)
print(type(name))
print(subject)
print(type(subject))
print(marks)
print(type(marks))
print(percentage,"%")
print(type(percentage))

mahesh
<class 'str'>
python
<class 'str'>
78
<class 'int'>
77.9  %
<class 'float'>

In [ ]:
data = eval(input())
print(data)
print(type(data))

['[', '1', ',', '2', ',', '3', ',', '4', ',', '5', ']']
<class 'list'>

In [31]:
a =  10
b = 20
c = 10
print(a is not b)
print(a is c)
print(id(a))
print(id(c))

True
True
140729827476680
140729827476680

In [ ]:
lst1 = [1,2,3,4,5]
print(id(lst1))
lst2 = [1,2,3,4,5]
print(id(lst2))
print(lst1 == lst2)
print(lst1 is lst2)

2947682043200
2947681955392
True
False