# Advanced Data Types in Python - Lists

### Table of Contents
1. Introduction to Lists
2. Creating Lists
3. Accessing Elements
4. Modifying Lists
5. Nested Lists
6. List Slicing
7. Examples and Applications

## Introduction to Lists
### What is a List?
- An **ordered collection** of data elements.
- Supports both **homogeneous** and **heterogeneous** data.
- Allows duplicate values.
- Uses **square brackets `[]`** for representation.
- Elements are accessed using **indices**.
- Mutable datatype

In [ ]:
# Example of an empty list
# my_list = []
my_list = list()
print(my_list)  # Output: []

[]

In [3]:
# Example of a heterogeneous list
mixed_list = [1, "hello", True, None,2,4,6,1,8]
print(mixed_list)

[1, 'hello', True, None, 2, 4, 6, 1, 8]

## Creating Lists

### Empty List

In [4]:
empty_list = []
print(empty_list)

[]

### Using `list()` Constructor

In [5]:
range_list = list(range(10))
print(range_list)  # Output: [0, 1, 2, ..., 9]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## Accessing Elements

### Positive Indexing

In [7]:
my_list = [1, 2, 3, 4, 5]
print(my_list[2])  # Output: 3

3

### Negative Indexing

In [8]:
print(my_list[-1])  # Output: 5
print(my_list[-3])  # Output: 3

5
3

### Slicing

In [ ]:
print(my_list[1:4])  # Output: [2, 3, 4]
print(my_list[:3])   # Output: [1, 2, 3]
print(my_list[3:])  # Output: [4, 5]

 ## Modifying Lists

### Mutable Nature

In [15]:
my_list = [1, 2, 3, 4, 5]
my_list[2] = 6
print(my_list)  # Output: [1, 2, 6, 4, 5]

[1, 2, 6, 4, 5]

### Appending Elements

In [18]:
my_list.append(7)
print(my_list)  # Output: [1, 2, 6, 4, 5, 7]

# my_list.append([8, 9])
# print(my_list) # [1, 2, 6, 4, 5, 7,[8, 9]]

another_list = [8, 9]
my_list.extend(another_list)
print(my_list)  # Output: [1, 2, 6, 4, 5, 7, 8, 9]

[1, 2, 6, 4, 5, 7, 8, 9, 7, 7]
[1, 2, 6, 4, 5, 7, 8, 9, 7, 7, 8, 9]

In [ ]:
my_list.pop(5) 
my_list

[1, 6, 4, 5, 7, 9, 7, 7]

In [21]:
my_list.remove(2)
my_list

[1, 6, 4, 5, 7, 8, 9, 7, 7]

In [30]:
lst = ['a','b','Z']
lst.sort(reverse=True)
lst

['b', 'a', 'Z']

In [23]:
lst = [2,4,76,9,5,89,2,5,6]
lst.sort()
lst

[2, 2, 4, 5, 5, 6, 9, 76, 89]

In [24]:
lst = [2,4,76,9,5,89,2,5,6]
lst.sort(reverse=True)
lst

[89, 76, 9, 6, 5, 5, 4, 2, 2]

In [25]:
lst = [2,4,76,9,5,89,2,5,6]
lst.reverse()
lst

[6, 5, 2, 89, 5, 9, 76, 4, 2]

In [31]:
lst.clear()

In [32]:
lst

[]

In [33]:
del lst
lst

NameError: name 'lst' is not defined

## Nested Lists

### Example of Nested Lists

In [ ]:
nested_list = [[1, 2, 3], [4, 5, 6] ,[7,8,9]]
print(nested_list)  # Output: [[1, 2, 3], [4, 5, 6]]

[[1, 2, 3], [4, 5, 6], 7, 8, 9]

In [35]:
nested_list[1][1]

5

In [36]:
nested_list[3]

8

In [40]:
nested_list = [[1, 2, 3], [4, 5, 6] ,[7,8,9]]

for lst in nested_list:
    for i in lst:
        print(i, end=' ')
    print()

1 2 3
4 5 6
7 8 9

## List Slicing

### Example of List Slicing

In [20]:
my_list = [1, 2, 3, 4, 5]
print(my_list[::2])  # Output: [1, 3, 5]

[1, 3, 5]

## Examples and Applications

### Example 1: Using Lists to Store Grades

In [ ]:
grades = [85, 90, 95]
print(grades)  # Output: [85, 90, 95]

### Example 2: Modifying a List

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_list[2] = 10
print(my_list)  # Output: [1, 2, 10, 4, 5]

### Example 3: Slicing and Modifying

In [24]:
my_list = [1,2,3,43,54,5,6]
my_list[-3:-6:-1]
my_list[::-1]
# my_list[::]

[6, 5, 54, 43, 3, 2, 1]

### List Comprehension

In [ ]:
# WAP to create a list add numbers from 1 to 10

# without list comprehension
lst1 = []

for i in range(10):
    lst1.append(i)

print(lst1) 

# with list comprehension
lst_comp = [i for i in range(10)]
print(lst_comp)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# WAP to create a list add even numbers from 1 to 10

lst1 = []

for i in range(10):
    if i%2 == 0:
        lst1.append(i)

print(lst1)

# List comprehension with if condition

lst_comp_if = [i for i in range(10) if i%2 == 0]
print(lst_comp_if)

[0, 2, 4, 6, 8]
[0, 2, 4, 6, 8]

In [30]:
# WAP to create a list add  odd or even from 1 to 10

lst1 = []

for i in range(10):
    if i%2 == 0:
        lst1.append("even")
    else:
        lst1.append("odd")

print(lst1)

# list comprehension with if-else condition
list_comp = ["even" if i%2 == 0 else "odd" for i in range(10)]
print(list_comp)

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']
['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [33]:
sports = ['Cricket', 'Football', 'Hockey', 'Football', 'Tennis']

word = 'Cricket'

# sports.count(word)

count = 0

for sport in sports:
    if sport == word:
        count +=1

print(count)

1

In [ ]:
list1 = [5, 20, 15, 20, 25, 50, 20]

num = 20

for n in range(len(list1)):
    if list1[n] > 20:
        del list1[n]
        # print(list1[n])

25
50

In [12]:
print(list1)

[5, 20, 15, 20, 50, 20]

In [ ]:
# remove all elements greater than 20 from the list using remove()
result = []
list1 = [5, 20, 15, 20, 25, 50, 20]

for item in list1:
    if item < 20:
       result.append(item)
       print(item)
print(result)

5
15
[5, 15]