# Advanced Data Types in Python - Complete Notes

This notebook covers:
1. Tuples
2. Sets
3. Dictionaries
4. Strings (Advanced Operations)

---

## 1. TUPLES

### What is a Tuple?
- **Immutable** ordered collection of items
- Uses parentheses `()`
- Once created, elements cannot be modified
- Supports indexing and slicing
- Faster than lists for read operations

### Creating Tuples

In [ ]:
# Empty tuple
tup1 = ()
print(tup1)
print(type(tup1))  # Output: <class 'tuple'>

In [ ]:
# Tuple with multiple elements
tup1 = (1, 2, 3, 4, 5, 6, 7, 8,1,1,True)
print(tup1)
print(type(tup1))

In [ ]:
# Tuple with one element
tup1 = (1)
print(tup1)
print(type(tup1))

In [ ]:
tup1 = 1,2,3,3,4,5
print(tup1)
print(type(tup1))

In [ ]:
# IMPORTANT: Singleton tuple (single element)
# Must have a trailing comma!
tup1 = 1,  # or (1,)
print(tup1)
print(type(tup1))  # Without comma, it's just an integer

In [ ]:
# Creating tuple from string
aTuple = tuple("Orange")
print(aTuple)  # Output: ('O', 'r', 'a', 'n', 'g', 'e')

### Accessing Tuple Elements

In [ ]:
# Indexing (supports positive and negative indices)
tup2 = (1, 2, 3, 4, 's')
print(tup2)
print(tup2[-1])  # Last element: 's'

In [ ]:
# Nested list indexing
n_tup = ([1, 2, 3], (4, 5, 6), [7, 8, 9])
print(n_tup[1][1])

### Tuple Unpacking

In [ ]:
# Unpacking tuple values into variables
aTuple = ("Yellow", 20, "Red")
a, b, c = aTuple
print(a)  # Output: Yellow
print(b)  # Output: 20
print(c)  # Output: Red

### Tuple Operations

In [ ]:
# Concatenation and Repetition
tup1 = (1, 2, 3, 4, 5)
tup2 = (6, 7, 8, 9)
tup3 = tup1 * 10  # Repeats tuple 10 times
print(tup3)
print(type(tup3))

In [ ]:
# count() method - counts occurrences of an element
print(tup3.count(1))  # Output: 10

In [ ]:
word = "aeroplane"
word = tuple(word)
word

In [ ]:
for i in word:
    print(i)

In [ ]:
word = "aeroplane"
word = tuple(word)
alpha = 'z'
result = 0

for char in word:
    if alpha  == char:
        result += 1

print(result)

### Iterating Through Tuples

In [ ]:
# Method 1: Using range and len
tup1 = ('a', 'b', 'c', 'd')
tup_len = len(tup1)

for i in range(tup_len):
    print(i, tup1[i])

In [ ]:
# Method 2: Using enumerate() - Returns index and value
tup1 = ('a', 'b', 'c', 'd')

for i, j in enumerate(tup1):
    # print(i, j)
    print("index =", i, "value =", j)

# # Simple iteration (values only)
# for i in tup1:
#     print(i)

### LIST vs TUPLE - Key Differences

| Feature | List | Tuple |
|---------|------|-------|
| Mutability | Mutable | Immutable |
| Syntax | `[]` | `()` |
| Operations | Add, modify, remove | Only read |
| Memory | Dynamic array | Static array |
| Functions | More functions | Less functions |
| Performance | Slower | Faster |
| Use Case | When data changes | When data is constant |

---

In [ ]:
lst1 = [1, 2, 3, 4, 5]

if lst1 == []:
    print("List is empty")
else:
    print("List is not empty")

print(lst1[2])
print(len(lst1))

In [ ]:
marks = [95, 75, 86,53 ,78,23,90,35,87,98,56]

total_marks = 0

for i in marks:
    total_marks += i

sum(marks)

n = len(marks)
avg = total_marks/n
avg

In [ ]:
marks, min(marks), max(marks)

In [ ]:
val = marks[0]

for i in marks:
    if i < val:
        val = i
print(val)

In [ ]:
val = marks[0]

for i in marks:
    if i > val:
        val = i
print(val)

## 2. SETS

### What is a Set?
- **Unordered** collection of unique elements
- Uses curly braces `{}`
- **Mutable** (can add/remove elements)
- **No duplicates allowed**
- **No indexing** (unordered)
- Useful for mathematical operations

### Creating Sets

In [ ]:
# Empty curly braces create a dictionary, not a set!
st = {}
print(st)
print(type(st))

{}
<class 'dict'>

In [ ]:
# Correct way to create empty set
st = set()
print(st)
print(type(st))  # Output: <class 'set'>

set()
<class 'set'>

In [ ]:
st = {1, 1, 4, 1, 'c',1, 1, 3, 1, 1, 1, 2, True, 3, 4, 5, 6, False, 'a'}
print(st)  
print(type(st))

{False, 1, 2, 3, 4, 5, 6, 'a', 'c'}
<class 'set'>

### Set Operations

In [ ]:
# Sets don't support indexing!
set1 = {1, 2, 3, 4, 5}
print(set1[3])  # This will raise TypeError

TypeError: 'set' object is not subscriptable

In [ ]:
# Iterating through sets
for i in set1:
    print(i)
    if i == 4:    
        i = 14  # This won't modify the set (immutable elements)

print(set1)  # Set remains unchanged

1
2
3
4
5
{1, 2, 3, 4, 5}

In [ ]:
# pop() - removes and returns an arbitrary element
set1.pop()
print(set1)

{2, 3, 4, 5}

In [ ]:
# remove() - removes specific element
set1.remove(4)
print(set1)

{2, 3, 5}

### Mathematical Set Operations

In [ ]:
# Define sets for operations
A = {1, 2, 3}
B = {3, 4, 5}
C = {1, 2}
D = {6, 7, 8}

print(A)
print(B)
print(C)
print(D)

# UNION - All elements from both sets
print(A.union(B))
print("Union:", A | B)  # Operator method

# INTERSECTION - Common elements only
print(A.intersection(B))
print("Intersection:", A & B)

# DIFFERENCE - Elements in A but not in B
print(A.difference(B))
print("Difference (A - B):", A - B)

# SYMMETRIC DIFFERENCE - Elements in A or B but not both
print(A.symmetric_difference(B))
print("Symmetric Difference:", A ^ B)

# SUBSET - Check if C is subset of A
print(C.issubset(A))
print("Is C a subset of A?", C <= A)

# SUPERSET - Check if A is superset of C
print(A.issuperset(C))
print("Is A a superset of C?", A >= C)

# DISJOINT - No common elements
print("Are A and D disjoint?", A.isdisjoint(D))
print(C.isdisjoint(A))  # False (they have common elements)

{1, 2, 3}
{3, 4, 5}
{1, 2}
{8, 6, 7}
{1, 2, 3, 4, 5}
Union: {1, 2, 3, 4, 5}
{3}
Intersection: {3}
{1, 2}
Difference (A - B): {1, 2}
{1, 2, 4, 5}
Symmetric Difference: {1, 2, 4, 5}
True
Is C a subset of A? True
True
Is A a superset of C? True
Are A and D disjoint? True
False

In [ ]:
word = 'aeroplane'
set_word = set(word)
vowels = {'a','e','i','o','u'}
set_word.intersection(vowels)

{'a', 'e', 'o'}

In [ ]:
result = []

for char in word:
    if char in vowels and char not in result:
        result.append(char)

print(result)

['a', 'e', 'o']

In [ ]:
# Example 1: Finding unique vowels in a word
word = 'aeroplane'

vowels = {'a', 'e', 'i', 'o', 'u'}
result = set()

for char in word:
    if char in vowels:
        result.add(char)
print(result)

In [ ]:
# Example 1: Finding unique vowels in a word
word = 'aeroplane'

vowels = ['a', 'e', 'i', 'o', 'u']
result = []

for char in word:
    if char in vowels and char not in result: 
        result.append(char)
print(result)

### Practical Set Examples

In [ ]:
# Example 1: Finding unique vowels in a word
word = 'aeroplane'
vowels = ['a', 'e', 'i', 'o', 'u']
result = []

for char in word:
    if char in vowels and char not in result:
        result.append(char)

print(result)  # Output: ['a', 'e', 'o']

In [ ]:
set('aeroplane')

In [ ]:
# More efficient using sets 
word = 'AEROPLANE'
word_set = set(word)
print(word_set)
vowels = {'A', 'E', 'I', 'O', 'U'}

print(word_set.intersection(vowels))  # Output: {'A', 'E', 'O'}

In [ ]:
# Example 2: Remove duplicates from list using set
lst = [1, 12, 23, 4, 54, 2, 4, 5, 6, 8, 5, 6, 8, 5]
print(lst)
conv_lst = set(lst)
print(conv_lst)  # Duplicates removed

In [ ]:
# Remove duplicates without built-in functions
lst = [1, 12, 23, 4, 54, 2, 4, 5, 6, 8, 5, 6, 8, 5]
unique_list = []

for num in lst:
    if num not in unique_list:
        unique_list.append(num)

print(unique_list)

In [ ]:
set1 = {1, 2, 3, 4, 5}
print(set1)
print(type(set1))
frset = frozenset(set1)
print(frset)
print(type(frset))

In [ ]:
sentence = "Python is fun and Python is powerful"
set_sentence = set(sentence.split())
set_sentence

In [ ]:
list1 = [10, 20, 30, 40]
list2 = [30, 40, 50, 60]
# find the common elements without using sets.